.navbar-brand-logo {
  width: auto;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .user-filters {
    margin-top: 1em !important;
  }
}

#userRoles + ul {
  height: 300px !important;
  overflow-y: auto !important;
}

.rtl-true {
  direction: rtl;
}
