<div class="container mt-3" [ngClass]="{'rtl-true': lang == 'ar'}">
  <!-- navbar -->
  <nav class=" navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://sakanfilestore.blob.core.windows.net/files/img/logos/sakan-side-logo.png" alt=""
          class="d-inline-block align-text-top navbar-brand-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0" [ngClass]="{'me-auto': lang == 'en'}">
          <li class="nav-item">
            <a class="nav-link active text-secondary" aria-current="page" href="#">Users</a>
          </li>
        </ul>
        <div class="d-flex" [ngClass]="{'me-auto': lang == 'ar'}">
          <button [hidden]="lang == 'ar'" (click)="changeLanguage('ar')" type="button"
            class="btn btn-outline-primary ms-2 me-2">Ar</button>

          <button [hidden]="lang == 'en'" (click)="changeLanguage('en')" type="button"
            class="btn btn-outline-primary ms-2 me-2">En</button>

          <select [(ngModel)]="selectedCountry" (ngModelChange)="changeCountry($event)" class="form-select text-primary"
            aria-label="Country">
            <option *ngFor="let c of countries" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </nav>

  <!-- Error Message -->
  <div [ngClass]="{'hidden': error == false}" class="alert alert-danger d-flex align-items-center mt-2 mb-2"
    role="alert">
    <i class="bi bi-exclamation-triangle-fill font-20"></i>
    <div class="ms-2 me-auto fs-6">
      {{errorMessage}}
    </div>
    <a class="pointer-on-hover" (click)="closeAlert()">
      <i class="bi bi-x-circle alert-close-btn"></i>
    </a>
  </div>

  <!-- Page Heading -->
  <h4 class="mt-3">
    CMS Users
    <small class="text-muted">(List of Sakan CMS Users)</small>
  </h4>

  <div class="d-flex flex-column flex-md-row  mb-3 mt-3">
    <!-- search users -->
    <div class="d-flex flex-grow-1">
      <form class="d-flex" (submit)="searchUser()">
        <input class="form-control me-2" [(ngModel)]="searchText" name="searchText" type="text"
          placeholder="Search User" aria-label="Search">
        <button class="btn btn-primary me-2" type="submit">Search</button>
      </form>
    </div>

    <div class="d-flex user-filters">
      <!-- Filter by active/Inactive Users -->
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userStatus" data-bs-toggle="dropdown"
          aria-expanded="false">
          Status
        </button>
        <ul class="dropdown-menu" aria-labelledby="userStatus">
          <li><a class="dropdown-item" href="#" (click)="getUsersByStatus('')">All</a></li>
          <li><a class="dropdown-item" href="#" (click)="getUsersByStatus(1)">Active</a></li>
          <li><a class="dropdown-item" href="#" (click)="getUsersByStatus(0)">Inactive</a></li>
        </ul>
      </div>

      <!-- Filter by Roles -->
      <div class="dropdown me-2 ms-2">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userRoles" data-bs-toggle="dropdown"
          aria-expanded="false">
          Roles
        </button>
        <ul class="dropdown-menu" aria-labelledby="userRoles">
          <li><a class="dropdown-item" href="#" (click)="getUsersByRoles('all')">All</a></li>
          <li *ngFor="let role of roles; let i=index;"><a class="dropdown-item" href="#"
              (click)="getUsersByRoles(role.id)">{{role.name}}</a></li>
        </ul>
      </div>

      <!-- Sort by -->
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="sortParams" data-bs-toggle="dropdown"
          aria-expanded="false">
          Sort By
        </button>
        <ul class="dropdown-menu" aria-labelledby="sortParams">
          <li *ngFor="let sortKey of sortKeys;"><a class="dropdown-item" href="#"
              (click)="sortUsers(sortKey.id)">{{sortKey.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- users table -->
  <div class="table-responsive">
    <table class="table table-hover mb-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Designation</th>
          <th>Roles</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users | paginate: { itemsPerPage: recordsPerPage, currentPage: pageNumber, totalItems: recordsCount };">
          <td>{{user.sno}}</td>
          <td>{{user.name}}</td>
          <td [ngClass]="{'text-warning': !user.jobPosition}">{{user.jobPosition ?
            user.jobPosition: 'N/A'}}</td>
          <td [ngClass]="{'text-warning': !user.rolesCsv}">{{user.rolesCsv ? user.rolesCsv :'N/A'}}
          </td>
          <td [ngClass]="{'text-warning': !user.emailSakan}">{{user.emailSakan ? user.emailSakan : 'N/A'}}</td>
          <td [ngClass]="{'text-success': user.isActive, 'text-danger': !user.isActive}">
            {{user.isActive ? 'Active' : 'Inactive'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>

  <!-- Spinner -->
  <div [hidden]="! spinnerStatus" class="spinner-loader">
    <div class="text-primary"></div>
    <span class="visually-hidden">Loading...</span>
  </div>
</div>