/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

ul.ngx-pagination {
  padding-left: 0 !important;
}

.font-20 {
  font-size: 20px;
}

.hidden {
  display: none !important;
}

.alert-close-btn {
  font-size: 1.5em;
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.spinner-loader {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
